@import './var.scss';

.headerLanding{
    background-color: $primary_color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
}

.logoImg{
    width: 90px;
    height: 90px;
}


.mainLanding{
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $main_color;
}

.btnBox{
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70%;
    gap: 40%;
}

.titleLanding{
    color: $third_color;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;

}

.btnLanding{
    background: linear-gradient(45deg, #eac8ca, #f9a8c4);
    color: $color_btn;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
}

.btnLanding:hover::before {
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
}

.btnLanding:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.paragraphLanding{
    color: $third_color;
    font-size: 21px;
    font-weight: bold;
    height: 200px;
    width: 200px;
    background-color: $secondary_color;
    border-radius: 100px;
    align-content: center;
    text-align: center;
    text-transform: capitalize;
    transform:rotate(20deg) ;
}



